{% extends 'gsr/base.html' %}
{% load staticfiles %}

<title>
    {% block title_block %}
	    Add Shop
    {% endblock %}
</title>   

{% block body_block %}
	<h1 class="text-center" >Add Your Shop</h1>
	<div>
		<form id="add_shop_form" method="POST" action="{% url 'gsr:add_shop' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="container-fluid p-4">
				<div class = "row mx-4 ">
					
					<div class="col-sm-6 border">
						<div class="my-1">
							<span class="h3 gsr-blue border gsr-border">{{form.name.label_tag}}</span> 
							<div class="">{{form.name}}</div>
						</div>
						
						<div class="my-1">
							<span class="h3 gsr-blue border gsr-border">{{form.categories.label_tag}}</span>
							<div class="" style="height:50px;overflow-y:scroll;">{{form.categories}}</div>
						</div>
						
						<div class="my-1">
							<span class="h3 gsr-blue border gsr-border">{{form.location.label_tag}}</span>
							<div class="">{{form.location}}</div>
						</div>
						
						<div class="my-1">
							<span class="h3 gsr-blue border gsr-border">{{form.description.label_tag}}</span>
							<div class="" style="width:100%">{{form.description}}</div>
						</div>
					</div>
					
					<div class="col-sm-6 border">
						{% if form.picture %}
							<img src="{{ shop.picture.url }}" class="img-fluid">
						{% endif %}
						<img class="img-fluid" id ="imgPreview" alt="Shop Image" width="100px" height="100px" border="1px"/>
						
						<div class="my-1">
							<span class="h3 gsr-blue border gsr-border">{{form.picture.label_tag}}</span>
							<div class="" style="height:100px">{{form.picture}}</div>
						</div>
						
						<div class="my-1">
							<span class="h3 gsr-blue border gsr-border">{{form.opening_hours.label_tag}}</span>
							<div class="">{{form.opening_hours}}</div>
						</div>
						
					</div>
					
					<input class="btn btn-primary" style="width:40%;margin-left:auto;margin-right:auto;" type="submit" name="submit" value="Create Shop" />
					
				</div>
			</div>
		</form>
	</div>
{% endblock %}


