<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Glasgow Shop Ratings - 
		{% block title_block %}
			Base title
		{% endblock %}
		</title>

		<!-- Import common and jquery js -->
		<script src="{% static 'js/gsr/common.js' %}" crossorigin="anonymous"></script>
		<script src="{% static 'js/jquery/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>

		<!-- Import bootstrap css -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

		<!-- Allow templates to add extra head tags-->
		{% block head_block %}
		{% endblock %}
	</head>

    <body>
		<!-- Page specific content -->
		<div>
		{% block heading_block %}
			<a href="{% url 'gsr:index' %}">Home</a>
			<h1>Glasgow Shop Ratings</h1>

			{% if user.is_authenticated %}
			<!--<a href="% url 'gsr:profile' %">Profile</a> -->
			<a href="{% url 'gsr:logout' %}">Logout</a>
			{% else %}
			<a href="{% url 'gsr:login' %}">Login</a>
			<a href="{% url 'gsr:signup' %}">Signup</a>
			{% endif %}
		{% endblock %}
		</div>
		<div>
		{% block body_block %}
			<!-- This is body_block's default content. -->
		{% endblock %}
		</div>

		<!-- Import bootstrap js -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	</body>
</html>
