<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
		<meta charset="UTF-8" />
        <title>Glasgow Shop Ratings - 
		{% block title_block %}
			Base title
		{% endblock %}
		</title>

		<!-- Import common and jquery -->
		<script src="{% static 'js/gsr/common.js' %}" crossorigin="anonymous"></script>
		<script src="{% static 'js/jquery/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>

		<!-- Allow templates to add extra head tags-->
		{% block head_block %}
		{% endblock %}
	</head>

    <body>
		<!-- Page specific content -->
		<div>
		{% block heading_block %}
			<a href="{% url 'gsr:index' %}">Home</a>
			<h1>Glasgow Shop Ratings</h1>

			{% if user.is_authenticated %}
			<!--<a href="% url 'gsr:profile' %">Profile</a> -->
			<a href="{% url 'gsr:logout' %}">Logout</a>
			{% else %}
			<a href="{% url 'gsr:login' %}">Login</a>
			<a href="{% url 'gsr:signup' %}">Signup</a>
			{% endif %}
		{% endblock %}
		</div>
		<div>
		{% block body_block %}
			<!-- This is body_block's default content. -->
		{% endblock %}
		</div>
	</body>
</html>
