{% extends 'gsr/base.html' %}
{% load staticfiles %}
{% load gsr_template_tags %}

{% block title_block %}
Search
{% endblock %}

{% block head_block %}
<script src="{% static 'js/gsr/search.js' %}" crossorigin="anonymous"></script>
{% endblock %}

{% block body_block %}

<div id="options-section">
    <label for="category-filter">Category:</label>
    <select name="category" id="category-filter" autocomplete="off" form="search-form">
        {% for name in category_names %}
            <option value="{{ name }}" {% selected name default_category %}>{{ name }}</option>
        {% endfor %}
    </select>
    
    <label for="rating-method">Sort By:</label>
    <select name="rating" id="rating-method" autocomplete="off" form="search-form">
        {% for name in rating_methods %}
            <option value="{{ name }}" {% selected name default_rating_method %}>{{ name }}</option>
        {% endfor %}
    </select>    
</div>

<div id="results-section">
    {% for shop in results %}
        <div>
            <h1>{{ shop }}</h1>
            <div>
                {% if shop.picture %}
                    <img src="{{ shop.picture.url }}">
                {% endif %}
                {% star_rating shop rating_method %}
            </div>
            <div>
                {{ shop.description }}
            </div>
            <div>
                {% for category in shop.categories.all %}
                    <p>{{ category.name }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

