{% extends 'gsr/base.html' %}
{% load staticfiles %}
{% load gsr_template_tags %}

{% block head_block %}
<script src="{% static 'js/gsr/user.js' %}" crossorigin="anonymous"></script>
{% endblock %}

{% block body_block %}

<div class="delbutton">
    {% if has_owner_group %}
    <button id="createshopbtn" onclick="window.location.href='{% url 'gsr:add_shop' %}'"
        style="background-color:yellow;margin-top:0px;padding: 10px;margin-right:40px;width:8%;height:100%;float:right">Create
        Shop</button> </p>
    {% elif requested_owner_group %}
    <button disabled
        style="background-color:yellow;margin-top:0px;padding: 10px;margin-right:40px;width:8%;height:100%;float:right">
        Shop Owner Group has been requested</button> </p>
    {% else %}
    <button onclick="window.location.href='{% url 'gsr:owner_request' %}'"
        style="background-color:yellow;margin-top:0px;padding: 10px;margin-right:40px;width:8%;height:100%;float:right">
        Request Shop Owner Group</button> </p>
    {% endif %}

</div>
<div class="container">
    <p id="usernamebox"
        style="display:inline-block ;background-color: white;margin-top:50px;margin-left:30px;width:40%;height:100%;">
        Username: <span id="usernametext">{{ user.username }}</span> <span id="usernametext-updating"><i>Updating...</i></span> </p>
    <button id="editusernamebtn"
        style="display:inline-block ;background-color:yellow;margin-top:0px;margin-left:0px;width:8%;height:100%;">Edit</button>
    <input id="usernamebox-edit"
        style="display:inline-block ;background-color: white;margin-top:50px;margin-left:30px;width:40%;height:100%;">
    <button id="saveusernamebtn"
        style="display:inline-block ;background-color:yellow;margin-top:0px;margin-left:0px;width:8%;height:100%;">Save</button>
</div>
<div class="container">
    <p id="emailbox"
        style="display:inline-block ;background-color: white;margin-top:0px;margin-left:30px;width:40%;height:100%;">
        Email: <span id="emailtext">{{ user.email }}</span> <span id="emailtext-updating"><i>Updating...</i></span> </p>
    <input id="emailbox-edit"
        style="display:inline-block ;background-color: white;margin-top:50px;margin-left:30px;width:40%;height:100%;">
    <button id="editemailbtn"
        style="display:inline-block ;background-color:yellow;margin-top:0px;margin-left:0px;width:8%;height:100%">Edit</button>
    <button id="saveemailbtn"
        style="display:inline-block ;background-color:yellow;margin-top:0px;margin-left:0px;width:8%;height:100%">Save</button>
</div>
<div class="delbutton">
    <button onclick="window.location.href='{% url 'gsr:delete_account' %}'"
        style="background-color:red;margin-top:20px;margin-left:100px;width:20%">DELETE ACCOUNT</button>
</div>

<div class="container">
    <p class="revieworshops"></p>
    <button id="reviewsbtn"
        style="display:inline-block ;background-color:rgb(240, 240, 64);margin-top:0px;margin-left:80px;width:20%;height:100%">Your
        Reviews</button>
    <button id="shopsbtn"
        style="display:inline-block ;background-color:rgb(240, 240, 64);margin-top:0px;margin-left:0px;width:20%;height:100%">Your
        Shops</button>
</div>

<div class="container" id="Reviewsid" style="margin-top: 40px; width: 90%;border: 1px solid black;background: white;">
    <h3>Your Reviews</h3>
    <div class="reviews-container" style="overflow-y: scroll; max-height: 300px; border: 1px solid black; margin-bottom: 20px;">
        {% for review in reviews%}
        <div class="container"style="margin-top: 10px; margin-bottom: 0px;">
            <p class="shopname"
                style="display:inline-block;background-color: white;margin-top:0px;margin-left:0px;width:75%;height:100%;border: 1px solid black;">
                <a href="{% url 'gsr:view_shop' review.shop.slug %}">{{ review.shop }}</a>
            </p>
            <p class="rating"
                style="display:inline-block;background-color: white;margin-top:0px;margin-left:0px;width:10%;height:100%;border: 1px solid black;">
                Rating</p>
            <p class="stars"
                style="display:inline-block;background-color: white;margin-top:0px;margin-left:0px;width:10%;height:100%;border: 1px solid black;">
                {% star_rating review "Overall Rating" %}</p>

        </div>
        <div class="container">
            <div class="commentbox"
                style="display:inline-block ;background-color: white;margin-top:0px;margin-left:0px;width:95.5%;;min-height: 100px;border: 1px solid black;">
                {{ review.comment|linebreaks }} </div>
            <button id="editreview" onclick="window.location.href='{% url 'gsr:edit_review' review.shop.slug review.id %}'"
            style="display:inline-block ;background-color:yellow;margin-top:0px;margin-left:0px;margin-bottom: 10px;width:10%;">
                Edit</button>
        </div>
        {% empty %}
        <p>You haven't left any reviews yet.</p>
        {% endfor %}
    </div>
</div>

<div class="container" id="Shopsid" style="margin-top: 40px; width: 90%;border: 1px solid black;background: white; display: none">
    <h3>Your Shops</h3>
    <div class="shops-container" style="overflow-y: scroll; max-height: 300px; border: 1px solid black; margin-bottom: 20px;">
        {% for shop in shops %}
        <div class="container" style="margin-top: 10px; margin-bottom: 0px;">
            <p class="shopname"
                style="display:inline-block ;background-color: white;margin-top:0px;margin-left:0px;width:75%;height:100%;border: 1px solid black;">
                <a href="{% url 'gsr:view_shop' shop.slug %}">{{ shop.name }}</a>
            </p>
            <p class="rating"
                style="display:inline-block ;background-color: white;margin-top:0px;margin-left:0px;width:10%;height:100%;border: 1px solid black;">
                Rating</p>
            <p class="stars"
                style="display:inline-block ;background-color: white;margin-top:0px;margin-left:0px;width:10%;height:100%;border: 1px solid black;">
                {% star_rating shop "Overall Rating" %}</p>

        </div>
        <div class="container">
            <div class="descriptionbox"
                style="display:inline-block ;background-color: white;margin-top:0px;margin-left:0px;width:95.5%;;min-height: 100px;border: 1px solid black;">
                {{ shop.description|linebreaks }} </div>
                <button id="editshop" onclick="window.location.href='{{ shop.get_edit_url}}'"
                style="display:inline-block ;background-color:yellow;margin-top:0px;margin-left:0px;margin-bottom: 10px;width:10%;">
                Edit</button>
            
        </div>
        {% empty %}
        <p>You don't own any shops yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}