{% extends 'gsr/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="container">
    <p class="usernamebox"
        style="display:inline-block ;background-color: grey;margin-top:100px;margin-left:30px;width:40%;height:100%;">
        Username: </p>
    <button
        style="display:inline-block ;background-color:yellow;margin-top:0px;margin-left:0px;width:8%;height:100%">Edit</button>
</div>
<div class="container">
    <p class="emailbox"
        style="display:inline-block ;background-color: grey;margin-top:0px;margin-left:30px;width:40%;height:100%;">
        Email: </p>
    <button
        style="display:inline-block ;background-color:yellow;margin-top:0px;margin-left:0px;width:8%;height:100%">Edit</button>
</div>
<div class="delbutton">
    <button style="background-color:red;margin-top:20px;margin-left:30px;width:20%">DELETE ACCOUNT</button>
</div>
<div class="container">
    <p class="reviewsorshops"
        style="display:inline-block ;background-color: grey;margin-top:60px;margin-left:30px;width:20%;height:100%;">
        Recent Reviews </p>
    <button
        style="display:inline-block ;background-color:yellow;margin-top:0px;margin-left:0px;width:30%;height:100%">Show
        Shops</button>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 20px 20px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 20px 40px;
            word-break: normal;
        }

        .tg .tg-lboi {
            border-color: inherit;
            text-align: left;
            vertical-align: middle
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        @media screen and (max-width: 767px) {
            .tg {
                width: auto !important;
            }

            .tg col {
                width: auto !important;
            }

            .tg-wrap {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }
        }
    </style>
    <div class="tg-wrap">
        <table class="tg">
            <thead>
                <tr>
                    <th class="tg-lboi">The Shop</th>
                    <th class="tg-0pky">Rating</th>
                    <th class="tg-0pky">⭐⭐⭐⭐⭐</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tg-0pky" colspan="3">Thank you for this is really appricaite it x</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
