
{% extends 'gsr/base.html' %}
{% load staticfiles %}
{% load gsr_template_tags %}

{% block title_block %}
   View Shop
{% endblock %}

{% block head_block %}
    <link href="{% static 'css/gsr/view_shop.css' %}" rel="stylesheet" crossorigin="anonymous">
{% endblock %}

{% block body_block %}
    {% if shop %}
    <div class="container-fluid">
        <div class="row">
            <div class = "col-md-2 offset-4 gsr-blue d-inline-block">
                <h3>Categories</h3>
            </div>
            <div class="col-md-2 gsr-cream d-inline-block">
                {% for category in categories %}
                    {{ category }}
                    <br>
                {% endfor %}
            </div>
        </div>
        <br>
        <h1 class="text-center gsr-blue">{{ shop.name }}</h1>
        <h4 class="gsr-blue text-center card p-3 col-md-2">Description</h4>
        <div class="row">
            <div class="col-md-6 col-lg-9">
                <div class="card p-3 gsr-cream" style="height: 256px;">
                {{ shop.description }}
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card" style="height: 256px;background-size:100% 100%;background-image: url('{{ shop.picture.url }}');"></div>
            </div>
        </div>
        <br /> <br /> <br />
        <div class="row">
            <div class="col-md-12 col-lg-4">
                {% map_embed shop.location %}
            </div>
            <div class="col-md-8 col-lg-3 offset-2">
                <h4 class="gsr-blue text-center card p-3">Opening Hours</h4>
                <div class="card p-3 gsr-cream text-center" style="height: 190px;">
                {% if shop.opening_hours %}
                {% for hours in shop.opening_hours %}
                    {{ hours }}
                    <br>
                {% endfor %}
                {% else %}
                    Not available
                {% endif %}
                </div>
            </div>
        </div>

        <br /> <br /> <br />
        <div class = "gsr-blue text-center card p-3 row">
            <div class="row">
                <div class="col-md-2">
                    <h4>Reviews</h4>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-warning">Leave a Review</button>
                </div>
            </div>
        </div>


        <div class="gsr-cream">
            {% for review in reviews %}
                {{ review.author }}
                <br>
                {% if review.comment and review.comment.strip %}
                    {{ review.comment }}
                    <br>
                {% endif %}
                {% star_rating review %}
                <br>
            {% endfor %}
        </div>

        {% else %}
        Shop doesn't exist
        {% endif %}
    </div>

{% endblock %}