
.checked {
    color: orange;
}
body {
    text-align: center;
}
.yellowbox {
    text-align: center;
    background-color: yellow;
}

.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    box-sizing: border-box;
}

.container{
    display: flex;
}

.container2{
    overflow-x: scroll;
    position: relative;
    white-space: nowrap;
    display: flex;
    margin: 10px;
    margin-top :0;
    background-color:white ;
    padding: 20px;
    width: 1200px;
    height:auto;
    margin-left: 100px;
    white-space: nowrap;
}

.triangle-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 50px solid transparent;
    border-right: 50px solid grey;
    border-bottom: 50px solid transparent;
    z-index: 2;
    cursor: pointer;

}

.triangle-right {
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 50px solid transparent;
    border-left: 50px solid grey;
    border-bottom: 50px solid transparent;
    z-index: 1;
}
.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.stars i {
    color: gold;
    font-size: 18px;
}
.shops {
    flex: 0 0 200px;
    position: relative;
    background-size: cover;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
    white-space: nowrap;


}



